<!DOCTYPE html>
<html>
<head>
<title><%=  Settings.title %></title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<!-- Begin page content -->
<div class = "container">
  <div class = "page-header">
    <h1><%= Settings.app_name %></h1>
  </div>
  <ul>
  <% if current_user %>
    <% if notice %>
    <li><%= notice %></li>
    <% end %>
    <li>ようこそ、<%= current_user.name %>さん</li>
    <li><%= link_to "ログアウト", "/signout" %></li>
  <% end %>
  </ul>
  <% unless current_user %>
  <p class = "lead"><%= Settings.app_name %><%= Settings.description %></p>
    <p><%= link_to "twitterでログイン", "/auth/twitter", class: 'btn btn-primary' %></p>
  <% else %>
    <%= yield %>
  <% end %>
</div>

<div id = "footer">
  <div class = "container">
    <p class = "text-muted">Copyright© All Rights <a href="https://twitter.com/tenki_reply" target = "_blank">@tenki_reply</a> Reserved. | 開発者：<a href = "https:// twitter.com/otukutun" target = "_blank">@otukutun</a></p>
  </div>
</div>



</body>
</html>
